<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.phonegap.getting.started"
	version 	= "1.0.0">

	<name>Beta Miller App</name>

	<description>
		Mobile application to view Miller's blog post
	</description>

	<author href="http://www.millerhomes.co.uk"
		email="christophe.goasduff@miller.co.uk">
		Christophe Goasduff
	</author>

	<icon src="icon.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/network"/>

	<preference name="orientation" value="portrait" />
</widget>
